DIRECTUS_DEV_TOKEN=
DIRECTUS_PROD_TOKEN=
DIRECTUS_DEV_URL=https://directus-ct-shared.gpillar-dev.global.com
DIRECTUS_PROD_URL=https://directus-ct-shared.gpillar-prod.global.com
DIRECTUS_COLLECTION_PREFIX=adpower_redesign
